// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-purple: #68003D;
$brand-purple-hover: #4D002E;
$white: #fff;
$black: #1A1A1A;
$light-gray: #D1D7DB;


//Fonts 
$slablight: 'klinic_slablight', 'monospace', serif;
$proxima: 'Proxima Nova', Arial, sans-serif;